<%-include('header.ejs') %>

    <!-- hero -->
    <section id="hero">
        <div class="container">
            <div class="px-4 py-5 mt-5 text-center">
                <h1 class="display-5 fw-bold text-body-emphasis">About Us</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead mb-4">Welcome to Art School College, where creativity meets education. Our institution is dedicated 
                      to nurturing artistic talent and providing a supportive environment for students to explore their passion for the
                       arts.
                       </p>
                       <p class="lead mb-4">Founded in 2004, our college offers a wide range of programs including Fine Arts, Graphic Design, Photography, 
                    and more. With state-of-the-art facilities and experienced faculty, we aim to empower our students to become skilled
                     artists and creative thinkers.</p>
                </div>
            </div>
        </div>

        <!-- <div class="container col-xxl-8 px-4 pb-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="http://www.mpct.org/images/DSCF0002.JPG" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">COMPUTER CENTER</h1>
                <p class="lead">The institute has fully air-conditioned state of art Central Computer Center, which is available to students of all branches and the staff during and after college hours. It is equipped with 100 no. of the latest PC's and licensed software. Apart from the Central computing facility there are separate computer centers in each department.</p>
              </div>
            </div>
          </div> -->

          <section class="facilities">
            <div class="container">
                <h2>Our Facilities</h2>
                <div class="facility">
                    <img src="./Images/facility1.jpg" alt="Facility 1">
                    <p>Studio Spaces</p>
                </div>
                <div class="facility">
                    <img src="./Images/facility2.jpg" alt="Facility 2">
                    <p>Art Gallery</p>
                </div>
                <div class="facility">
                    <img src="./Images/facility3.jpg" alt="Facility 3">
                    <p>Computer Labs</p>
                </div>
            </div>
        </section>
    </section>
    <!-- End Hero -->

   <%-include('footer.ejs')  %>