<!-- Footer -->
<section id="footer">
    <div class="container">
        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 p-5 mt-5 border-top justify-content-between">

            <div class="col mb-3">
                <label class="text-light text-uppercase mb-3 fw-bold fs-5 p-2">Our Art Schools !!</label>
                <!-- <h5 class="text-light text-uppercase mb-4"><em>Our Constituent Colleges</em></h5> -->
                <ul class="nav flex-column p-2">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Kiko School of Arts, Rewa</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Luna School of Arts, Bhopal</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Khushi School of Arts, Delhi</a></li>
                </ul>
            </div>

            <!-- <div class="col mb-3">
                <label class="text-light text-uppercase mb-3 fw-bold fs-5 p-2">About</label>
                <ul class="nav flex-column p-2">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Career</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Aluminis</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light">Customer Portal</a></li>
                    
                </ul>
            </div> -->

            <div class="col mb-3">
                <label class="text-light text-uppercase mb-3 fw-bold fs-5 p-2">Our Details!!</label>
                <ul class="nav flex-column p-2">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light"><i
                                class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;kikoArts@email</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light"><i
                                class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;090909XXXX</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light"><i
                                class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;&nbsp;&nbsp;Rewa,India</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top">
            <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
                <li class="ms-3 my-auto  "><a class="text-white" href="#"><img src="./Images/fb-icon.png"
                            alt="facebook icon" width="30px" height="30px"></a></li>
                <li class="ms-3 my-auto "><a class="text-white" href="https://www.linkedin.com/in/saumitrasingh10?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="./Images/yt-icon.jpeg"
                            alt="youtube icon" width="40px" height="30px"></a></li>
                <li class="ms-3 my-auto "><a class="text-white" href="https://www.linkedin.com/in/saumitrasingh10?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="./Images/linkedin-icon.webp"
                            alt="linkedin icon" width="30px" height="30px"></a></li>
                <li class="ms-3 my-auto "><a class="text-white" href="#"><img src="./Images/twitter-icon.png"
                            alt="twitter icon" width="30px" height="30px"></a></li>
            </ul>

        </footer>
    </div>
</section>
<!-- End Footer -->

<!-- Social Media Link -->
<section id="social">
    <footer class="container" style="text-align: center;">Made with 💜 by &commat;<a style="text-decoration: none; color: blue;" href="https://www.linkedin.com/in/saumitra-singh-491038276?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Mitra</a>
        <br><a href="https://github.com/Mitrammmm/Kiko-Arts-School" style="text-decoration: none; color: blue;">Github📁</a>
    </footer>
</section>
<!-- End Social Media Link -->

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

<script src="checkout.js"></script>
</body>

</html>