<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

    <!-- Register Here -->
    <section id="login" class="my-5">
            <div class="row">
                <!-- Column-1 -->
                <div class="col-lg-6">
                    <img class="w-100" src="./Images/CollegeStudentsImage-2.jpeg" alt="College Students Image-2"
                        height="100%">
                </div>
                <!-- End Column-1 -->

                <!-- Column-2 -->
                <div class="col-lg-6 bglogin p-4">
                    <form action="/userinsert" method="post" enctype="multipart/form-data">
                        <!-- logo -->
                        <center>
                            <img class="mb-4 rounded-circle" src="./Images/SignUpImage.jpeg" alt="Sign Up Image" width="20%" height="20%">
                        </center>

                        <!-- Heading (Register Here) -->
                        <h1 class="mb-5 text-center">Register Here</h1>
                        <div class="container">
                            
                            <% if(message.length > 0){ %>
                                <div class="alert alert-danger">
                                    <%= message %>
                                </div>
                            <% } %>

                        <!-- User Name -->
                        <div class="row mb-4">
                            <div class="col-lg-2 text-center bg-secondary rounded text-light fw-light my-auto p-2">User Name</div>
                            <div class="col-lg-10">
                                <input class="form-control text-capitalize" type="text" placeholder="Enter your name" name="n" required>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="row mb-3">
                            <div class="col-lg-2 text-center bg-secondary rounded text-light fw-light my-auto p-2">Email</div>
                            <div class="col-lg-10">
                                <input class="form-control" type="email" placeholder="name@example.com" name="e" required>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="row mb-4">
                            <div class="col-lg-2 text-center bg-secondary rounded text-light fw-light my-auto p-2">Password</div>
                            <div class="col-lg-10">
                                <input class="form-control" type="password" name="p" required>
                            </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="row mb-4">
                            <div class="col-lg-3 text-center bg-secondary rounded text-light fw-light my-auto p-2">Confirm Password</div>
                            <div class="col-lg-9">
                                <input class="form-control" type="password" name="cp" required>
                            </div>
                        </div>

                        <!-- Choose File -->
                        <div class="row mb-5">
                            <input type="file" name="image"b>
                            </div>
                        </div>

                        <!-- Button (Login) -->
                        <center>
                            <button class="btn btn-primary mb-5 btn-lg" type="submit">Register</button>
                        </center>
                        
                    </form>
                </div>
                <!-- End Column-2 -->
            </div>
        </div>
    </section>
    <!-- End Register Here -->

    <!-- Java Script Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    
</body>

</html>