/* ---------------------------------------------------------------
                            General
------------------------------------------------------------------ */

body{
    background: #94c9b1 !important;
}

/* ::placeholder{
    color: gray !important;
    font-weight: lighter;
} */

/* label{
    padding-top: 10% !important;
} */

/* button{
    background: #2a1a6f !important;
} */

/* ---------------------------------------------------------------
                            #navbar
------------------------------------------------------------------ */

#navbar nav{
    background: #0000009c !important;
}

.webViewPosition{
    text-align: start !important;
}

/* ---------------------------------------------------------------
                            #carousel
------------------------------------------------------------------ */

.carouselHeight{
    height: 100vh;
}

/* ---------------------------------------------------------------
                            #login
------------------------------------------------------------------ */

.bglogin{
    background: #8dc572;
}

/* .my-5{
    margin-top: 20px;
} */

/* ---------------------------------------------------------------
                            #footer
------------------------------------------------------------------ */

#footer
{
    background: #00684A;  
    
}

#social{
    background: #00ED64;
}

#detail p{
    text-align: justify;
}

/* ---------------------------------------------------------------
                            About
------------------------------------------------------------------ */

.page-title-area {
    position: relative;
    z-index: 1;
}

.paddingValue label
{
    padding: 0 !important;
}

.facilities {
    margin-bottom: 50px;
    text-align: center;
}

.facility {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.facility p {
    text-align: center;
    margin-top: 10px;
}

#hero{
    background: #94c9b1 !important;
}

/* ---------------------------------------------------------------
                            Media Query
------------------------------------------------------------------ */

@media (max-width:992px) {
    #navbarsExample11{
        justify-content: center !important;
    }

    .mobileViewButton{
        background: white !important;
        margin-bottom: 2rem;
    }
}

/* ---------------------------------------------------------------
                            home
------------------------------------------------------------------ */
#courses{
    background-color: rgb(164, 205, 240);
}

#detail{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: haha;
    animation: haha 2s infinite alternate;
}
@keyframes haha{
    0%{border-radius: 0%;}
    25%{background-color: red;}
    50%{background-color: aqua;}
    75%{background-color: yellow;}
    100%{border-radius: 50%;background-color: burlywood;color: blue;}
}

/* ---------------------------------------------------------------
                           Contact
------------------------------------------------------------------ */
#contact{
    background: #94c9b1 !important;
}

/* ---------------------------------------------------------------
                           Display
------------------------------------------------------------------ */
#display{
    margin-top: 17px;
}

